
.circle {
    width: 40vh;
    height: 40vh;
    background-image: url(https://m.netinfo.bg/media/images/22187/22187440/960-540-boia-za-kosa.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    /* border-radius: 50%; */
    margin: 10px auto;
    /* padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 13px; */
    padding: 20px; /* short-hand notation */
    overflow: hidden;
}

.box {
    background-color: firebrick;
    height: 100px;
    width: 120px; 
    border: 5px dashed yellow;
    margin: 20px 10px;
    padding: 20px;
    color: white;
    font-size: 2em;
    box-sizing: border-box;
    float:left;
}

.container {
    border: 2px solid darkgoldenrod;
    display: inline-block;
    width: 100%;
}

p {
    clear: both;
}
a {
    background-color: goldenrod;
    color: pink;
    width: 100px;
    height: 100px;
    /* display: none; */
    
}